Repository openxla/stablehlo, pull requests merged in 2022-11, with the labels that each got.

#275 spec for GatherOp
  docs/spec_draft.md
  docs/spec_draft/gather.svg
  docs/status.md
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#422 Lexicographically order GatherOp
  docs/spec_draft.md
Labels: Spec

#426 Fix typo in spec_draft.md
  docs/spec_draft.md
Labels: Spec

#411 Allow inlining StableHLO ops
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/tests/transform_stablehlo.mlir
Labels: Type inference

#367 Add spec for CholeskyOp
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#430 Integrate LLVM at llvm/llvm-project@d4c61314420c
  build_tools/llvm_version.txt
Labels: Integrations

#432 Prettyprint CustomCallOp target using SymbolRef printing
  stablehlo/dialect/AssemblyFormat.cpp
  stablehlo/dialect/AssemblyFormat.h
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/dialect/StablehloOps.td
  stablehlo/tests/print_stablehlo.mlir
  stablehlo/tests/print_types_invalid.mlir
Labels: Prettyprinting

#438 Remove explicit references to kEmitAccessors_Prefixed
  stablehlo/dialect/ChloOps.td
  stablehlo/dialect/StablehloOps.td
Labels: Integrations

#380 Add spec for FftOp
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#436 Add spec for PopulationCountOp
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#440 Fix the reference to the "Operands" section in the spec checklist
  docs/spec_checklist.md
Labels: Spec

#428 Add spec for SelectOp
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#439 Update spec checklist to account for prettyprinting conventions
  docs/spec_checklist.md
Labels: Spec, Prettyprinting

#377 Add spec for BatchNormInferenceOp
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#446 Update status.md to reflect conventional use
  docs/status.md
Labels: Process

#353 Add spec for ReduceOp
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#449 Add spec for ClzOp
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#455 Fix pedantic build warnings in ChloOps
  build_tools/github_actions/ci_build_stablehlo.sh
  stablehlo/dialect/ChloOps.cpp
Labels: Build

#456 Fix the LINK_LIBS of StablehloTypeInference
  stablehlo/dialect/CMakeLists.txt
Labels: Build

#459 Use new github actions output environment files
  .github/workflows/buildAndTest.yml
Labels: Build

#453 (abs..constant) Align examples in spec/ODS with spec_checklist.md
  docs/spec_checklist.md
  docs/spec_draft.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#463 Fix discrepancy between names in Outputs and in the ODS
  docs/spec_draft.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#464 Integrate LLVM at llvm/llvm-project@6c6dff7e2c27c
  build_tools/llvm_version.txt
Labels: Integrations

#483 Add SparseTensorDialect to registration
  stablehlo/dialect/Register.cpp
Labels: Integrations

#398 Add spec for BatchNormTrainingOp
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#457 Build StableHLO as a part of LLVM in CI
  .github/workflows/buildAndTest.yml
  CMakeLists.txt
  build_tools/github_actions/ci_build_llvm.sh
  build_tools/github_actions/ci_build_stablehlo.sh
  build_tools/github_actions/ci_build_stablehlo_python_api.sh
Labels: Build

#403 Add input output aliasing to CustomCallOp
  stablehlo/dialect/StablehloAttrs.td
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/dialect/StablehloOps.td
  stablehlo/integrations/c/StablehloAttributes.cpp
  stablehlo/integrations/c/StablehloAttributes.h
  stablehlo/integrations/python/StablehloModule.cpp
  stablehlo/integrations/python/tests/stablehlo.py
  stablehlo/tests/ops_stablehlo.mlir
Labels: RFC, MHLO

#490 Integrate LLVM at llvm/llvm-project@625796f408cc7
  build_tools/llvm_version.txt
Labels: Integrations

#493 Add spec for ComplexOp
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#489 Add spec for RealOp and ImagOp
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#450 Add spec for MapOp
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#545 Revert #457 embedded build change
  CMakeLists.txt
Labels: Build

#515 Integrate LLVM at llvm/llvm-project@0b94525ddcfc
  build_tools/llvm_version.txt
Labels: Integrations

#548 fix gather spec
  docs/spec_draft.md
  docs/spec_draft/gather.svg
Labels: Spec

#549 renaming interpreter.md
  docs/reference.md
Labels: Process

#502 Add spec for Expm1Op
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#559 Delete redundant newlines from gather's spec
  docs/spec_draft.md
Labels: Spec

#410 Add spec for TriangularSolveOp
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#330 Add spec for ScatterOp
  docs/spec_draft.md
  docs/spec_draft/scatter.svg
  docs/status.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#551 Improve CHLO code coverage for verifiers, type inference, reify
  stablehlo/tests/infer_chlo.mlir
  stablehlo/tests/ops_chlo.mlir
Labels: Process

#566 Migrate MHLO changes for printing dimensions
  stablehlo/dialect/AssemblyFormat.cpp
  stablehlo/dialect/AssemblyFormat.h
  stablehlo/dialect/StablehloAttrs.td
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/dialect/StablehloOps.h
  stablehlo/tests/infer_stablehlo.mlir
  stablehlo/tests/print_stablehlo.mlir
Labels: Prettyprinting, Migrate from MHLO

#567 Integrate LLVM at llvm/llvm-project@750d17bb72ad
  build_tools/llvm_version.txt
Labels: Integrations

#500 Add spec for Atan2Op
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#507 Add spec for Logp1Op
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#570 update spec checklist: Adding ticket link in PR
  docs/spec_checklist.md
Labels: Process

#501 Add spec for IsFiniteOp
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#552 Add spec for RoundNearestEvenOp
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#577 Integrate LLVM at llvm/llvm-project@163bb6d64e5f
  build_tools/llvm_version.txt
  stablehlo/dialect/AssemblyFormat.cpp
  stablehlo/dialect/Base.cpp
  stablehlo/dialect/Base.h
  stablehlo/dialect/BroadcastUtils.cpp
  stablehlo/dialect/ChloOps.cpp
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/dialect/TypeInference.cpp
  stablehlo/tests/infer_chlo.mlir
  stablehlo/tests/ops_stablehlo.mlir
Labels: Integrations

#496 Add spec for ShiftLeftOp, ShiftRightArithmeticOp and ShiftRightLogicalOp
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#563 Add spec for GetTupleElementOp
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#562 Add spec for TupleOp
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#460 Add spec for ClampOp
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#495 Add spec for CbrtOp
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#625 Expand the checklist to include HloInstruction::CreateFromProto
  docs/spec_checklist.md
  docs/spec_draft.md
Labels: Process

#558 Add spec for RoundOp
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#578 Fix typos in step names of GitHub workflows
  .github/workflows/buildAndTest.yml
Labels: Build

#638 Integrate LLVM at llvm/llvm-project@f51170bffd50
  build_tools/llvm_version.txt
Labels: Build

#505 Add spec for PowOp
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#429 Add spec for CompareOp
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#434 Add spec for BitcastConvertOp
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#646 Slight rewording of the BitcastConvertOp spec
  docs/spec_draft.md
Labels: Spec

#651 Fix merge conflict on status.md
  docs/status.md
Labels: Spec

#494 Add spec for SignOp
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#416 Add spec for BatchNormGrad
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#645 Fix typos in the PowOp spec
  docs/spec_draft.md
Labels: Spec

#634 Add spec for parallel execution semantics
  docs/spec_draft.md
Labels: Spec

#576 Add spec for ReplicaIdOp
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#556 Add spec for DynamicSliceOp
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#553 Add spec for DynamicUpdateSliceOp
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#659 Add headers to parallel execution semantics
  docs/spec_draft.md
Labels: Spec

#503 Add spec for AllGatherOp
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/dialect/StablehloOps.h
  stablehlo/dialect/StablehloOps.td
  stablehlo/dialect/TypeInference.cpp
  stablehlo/dialect/TypeInference.h
  stablehlo/tests/ops_stablehlo.mlir
Labels: Spec, Verification, Migrate to MHLO
