Repository openxla/stablehlo, pull requests merged in 2022-12, with the labels that each got.

#555 Add spec for AllToAllOp
  docs/spec_draft.md
  docs/spec_draft/all_to_all.svg
  docs/status.md
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/dialect/StablehloOps.td
  stablehlo/dialect/TypeInference.cpp
  stablehlo/dialect/TypeInference.h
  stablehlo/tests/ops_stablehlo.mlir
Labels: Spec, Verification, Migrate to MHLO

#415 Add spec for RngBitGeneratorOp
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#575 Add spec for OptimizationBarrierOp
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/Base.h
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/dialect/StablehloOps.td
  stablehlo/dialect/TypeInference.cpp
  stablehlo/dialect/TypeInference.h
Labels: Spec, Type inference, Migrate to MHLO

#569 Change -1 to ? printing when possible
  stablehlo/dialect/AssemblyFormat.cpp
  stablehlo/dialect/AssemblyFormat.h
  stablehlo/dialect/Base.h
  stablehlo/dialect/Base.td
  stablehlo/dialect/StablehloAttrs.td
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/dialect/TypeInference.cpp
  stablehlo/integrations/python/tests/stablehlo.py
  stablehlo/tests/TestUtils.cpp
  stablehlo/tests/infer_chlo.mlir
  stablehlo/tests/infer_stablehlo.mlir
  stablehlo/tests/ops_stablehlo.mlir
Labels: Prettyprinting, Migrate to MHLO

#663 Integrate LLVM at llvm/llvm-project@61aed52c9ec0
  build_tools/llvm_version.txt
Labels: Build

#665 Update CMakeLists with new dependencies from #569
  stablehlo/dialect/CMakeLists.txt
  stablehlo/tests/CMakeLists.txt
  stablehlo/tests/TestUtils.cpp
Labels: Build

#668 Fix header guards
  stablehlo/reference/Element.h
  stablehlo/reference/Ops.h
  stablehlo/reference/Types.h
Labels: Build

#580 Add spec for SendOp and RecvOp
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#681 Add CI lint for invalid whitespace in files. Fix existing issues.
  .github/workflows/lint.yml
  build_tools/github_actions/lint_whitespace_checks.sh
  docs/bytecode.md
  docs/type_inference.md
  stablehlo/tests/infer_stablehlo.mlir
  stablehlo/tests/ops_stablehlo_roundtrip.mlir
  stablehlo/tests/print_stablehlo.mlir
  stablehlo/tests/print_types_invalid.mlir
  stablehlo/tests/verify_conv.mlir
Labels: Build

#640 Add spec for InfeedOp and OutfeedOp
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#684 Minor fixes to recently merged specs
  docs/spec_draft.md
Labels: Spec

#510 Add spec for AllReduceOp
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/dialect/StablehloOps.td
  stablehlo/tests/ops_stablehlo.mlir
  stablehlo/tests/ops_stablehlo_roundtrip.mlir
Labels: Spec, Verification, Migrate to MHLO

#687 Fix typo in DynamicUpdateSliceOp's constraint
  docs/spec_draft.md
Labels: Spec

#689 Move "Streaming communication" next to "P2P communication"
  docs/spec_draft.md
Labels: Spec

#688 Fix typos in AllGatherOp's status
  docs/status.md
Labels: Spec

#693 Fix verification of DotGeneralOp
  stablehlo/dialect/TypeInference.cpp
  stablehlo/tests/ops_stablehlo.mlir
Labels: Verification

#672 NFC: Remove unnecessary argument in reducer function verification
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/dialect/TypeInference.cpp
  stablehlo/dialect/TypeInference.h
Labels: Type inference

#671 Fix verifier check disallowing dynamic shapes in reduce and related ops
  stablehlo/dialect/TypeInference.cpp
  stablehlo/tests/verify_reduce.mlir
Labels: Verification, Dynamism

#705 Fix broken HEAD
  stablehlo/dialect/StablehloOps.cpp
Labels: Verification

#702 Integrate LLVM at llvm/llvm-project@f9048cc1310a
  build_tools/llvm_version.txt
  stablehlo/reference/Tensor.cpp
Labels: Integrations

#692 Improve type inference for SelectOp
  stablehlo/dialect/Base.cpp
  stablehlo/dialect/Base.h
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/dialect/StablehloOps.td
  stablehlo/dialect/TypeInference.cpp
  stablehlo/dialect/TypeInference.h
  stablehlo/tests/infer_stablehlo.mlir
Labels: Type inference

#691 Implement type inference for ReturnOp
  docs/status.md
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/dialect/StablehloOps.td
  stablehlo/dialect/TypeInference.cpp
  stablehlo/dialect/TypeInference.h
Labels: Type inference

#354 Add spec for ReduceWindowOp
  docs/spec_draft.md
  docs/spec_draft/reduce_window.svg
  docs/status.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#696 Verify bounds of ranked tensors
  stablehlo/dialect/Base.cpp
  stablehlo/dialect/Base.h
  stablehlo/dialect/StablehloAttrs.td
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/tests/verify_bounds.mlir
Labels: Verification, Dynamism

#707 fix clang-tidy suggestions
  stablehlo/dialect/VhloOps.cpp
Labels: Integrations, Migrate from MHLO

#712 Preparation change for MLIR to only produce prefixed accessor.
  stablehlo/dialect/ChloOps.td
Labels: Integrations, Migrate from MHLO

#708 Add type inference for AfterAllOp
  docs/status.md
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/dialect/StablehloOps.td
  stablehlo/dialect/TypeInference.cpp
  stablehlo/dialect/TypeInference.h
  stablehlo/tests/infer_stablehlo.mlir
Labels: Type inference, Migrate to MHLO

#713 Add type inference for OutfeedOp
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/dialect/StablehloOps.td
  stablehlo/dialect/TypeInference.cpp
  stablehlo/dialect/TypeInference.h
  stablehlo/tests/infer_stablehlo.mlir
  stablehlo/tests/ops_stablehlo.mlir
Labels: Spec, Type inference, Migrate to MHLO

#715 Integrate LLVM at llvm/llvm-project@279d294d26c3
  build_tools/llvm_version.txt
Labels: Integrations

#720 Minor change in build/readme, add git fetch instruction to llvm build command.
  build_tools/README.md
Labels: Build

#716 Add bytecode implementation for OutputOperandAlias
  stablehlo/dialect/StablehloBytecode.cpp
  stablehlo/tests/ops_stablehlo_roundtrip.mlir
Labels: Migrate from MHLO

#718 Add type inference for GetDimensionSizeOp
  docs/status.md
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/dialect/StablehloOps.td
  stablehlo/dialect/TypeInference.cpp
  stablehlo/dialect/TypeInference.h
  stablehlo/tests/infer_stablehlo.mlir
Labels: Type inference

#405 Add type inference for stablehlo.selectandscatter
  docs/status.md
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/dialect/StablehloOps.td
  stablehlo/dialect/TypeInference.cpp
  stablehlo/dialect/TypeInference.h
  stablehlo/tests/infer_stablehlo.mlir
  stablehlo/tests/verify_select_and_scatter.mlir
Labels: Type inference, Migrate to MHLO

#721 Sever the dependency from TypeInference.h to StablehloOps.h
  stablehlo/dialect/Base.cpp
  stablehlo/dialect/Base.h
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/dialect/TypeInference.cpp
  stablehlo/dialect/TypeInference.h
Labels: Integrations

#717 Implement VHLO Bytecode Interface
  stablehlo/dialect/CMakeLists.txt
  stablehlo/dialect/VhloBytecode.cpp
  stablehlo/dialect/VhloBytecode.h
  stablehlo/dialect/VhloOps.cpp
  stablehlo/tests/legalize_stablehlo_to_vhlo.mlir
Labels: Compatibility

#673 Add support for PartitionIdOp
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/dialect/StablehloOps.td
  stablehlo/dialect/VhloOps.td
  stablehlo/tests/legalize_stablehlo_to_vhlo.mlir
  stablehlo/tests/ops_stablehlo.mlir
  stablehlo/tests/print_stablehlo.mlir
  stablehlo/tests/vhlo_to_version_downgrade_invalid.mlir
  stablehlo/transforms/MapStablehloToVhlo.h
Labels: RFC

#726 Update type inference status for CrossReplicaSumOp
  docs/status.md
Labels: Type inference

#728 Integrate LLVM at llvm/llvm-project@b2505ca2ece3
  build_tools/llvm_version.txt
Labels: Integrations

#727 Prettyprinting for Einsum and UnaryEinsum
  docs/status.md
  stablehlo/dialect/StablehloOps.td
  stablehlo/tests/print_stablehlo.mlir
Labels: Prettyprinting

#401 Split verifiers and shape functions for ops with regions
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/dialect/StablehloOps.td
  stablehlo/dialect/TypeInference.cpp
  stablehlo/dialect/TypeInference.h
Labels: Verification, Type inference, Migrate to MHLO

#745 Fix typo in the spec of AllReduceOp
  docs/spec_draft.md
Labels: Spec

#564 Add spec for ReduceScatterOp
  docs/images/spec_draft/all_to_all.svg
  docs/images/spec_draft/reduce_scatter.svg
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#568 Add spec for CollectivePermuteOp
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/dialect/StablehloOps.td
  stablehlo/tests/ops_stablehlo.mlir
Labels: Spec

#482 Add spec for ReducePrecisionOp
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#747 Integrate LLVM at llvm/llvm-project@32cc7d349750
  build_tools/llvm_version.txt
Labels: Integrations

#307 Add spec for DotGeneralOp
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#757 Support dynamic shapes in DynamicUpdateSliceOp's type inference
  stablehlo/dialect/Base.h
  stablehlo/dialect/TypeInference.cpp
  stablehlo/tests/ops_stablehlo.mlir
Labels: Verification, Type inference

#441 Add spec for ConvolutionOp
  docs/images/spec_draft/convolution.svg
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/dialect/StablehloOps.td
  stablehlo/dialect/TypeInference.cpp
  stablehlo/dialect/TypeInference.h
  stablehlo/tests/legalize_stablehlo_to_vhlo.mlir
  stablehlo/tests/ops_stablehlo.mlir
  stablehlo/tests/verify_conv.mlir
Labels: Spec, Verification, Migrate to MHLO

#636 Add spec for CustomCallOp
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#115 StableHLO Compatibility RFC v2
  rfcs/20220912-compatibility.md
  rfcs/images/20220912-compatibility/version_dialect.png
Labels: RFC

#759 Minor bookkeeping for recently approved RFCs
  rfcs/20220912-compatibility.md
  rfcs/20221031-fp8.md
Labels: Process

#761 Remove unused parameters
  stablehlo/dialect/StablehloOps.cpp
Labels: Type inference

#421 Add spec for ConvertOp
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#767 Temporarily allow empty `replica_group` for MHLO parity
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/dialect/TypeInference.cpp
  stablehlo/dialect/TypeInference.h
Labels: Verification, Migrate to MHLO

#769 Introduce inferSendOp
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/dialect/TypeInference.cpp
  stablehlo/dialect/TypeInference.h
Labels: Type inference

#770 Integrate LLVM at llvm/llvm-project@339a7687e1c0
  build_tools/llvm_version.txt
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/dialect/TypeInference.cpp
Labels: Integrations

#760 Fix crashing builders for CaseOp/IfOp/MapOp
  stablehlo/dialect/TypeInference.cpp
Labels: Type inference

#758 Minor updates to the CustomCallOp spec
  docs/spec.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#763 Update type inference doc about regions
  docs/type_inference.md
Labels: Verification, Type inference

#776 Use empty() method to check for emptiness
  stablehlo/dialect/StablehloOps.cpp
Labels: Integrations, Migrate to MHLO

#737 Infer bounds for Reduce op
  stablehlo/dialect/Base.cpp
  stablehlo/dialect/Base.h
  stablehlo/dialect/TypeInference.cpp
  stablehlo/tests/infer_stablehlo.mlir
Labels: Type inference

#774 Add support for f8E4M3FN and f8E5M2
  docs/spec.md
  stablehlo/dialect/Base.td
  stablehlo/tests/ops_stablehlo.mlir
  stablehlo/tests/verify_while.mlir
Labels: RFC, Migrate to MHLO

#780 Remove DotOp verifier
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/dialect/StablehloOps.td
  stablehlo/tests/ops_stablehlo.mlir
Labels: Verification, Migrate to MHLO, Migrate from MHLO

#786 Integrate LLVM at llvm/llvm-project@02988fce76d8
  build_tools/llvm_version.txt
Labels: Integrations

#789 NFC: Fix spec for stablehlo.case op
  docs/spec.md
Labels: Spec

#736 Add versions to attributes, enums, and types
  stablehlo/dialect/CMakeLists.txt
  stablehlo/dialect/StablehloEnums.td
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/dialect/Version.cpp
  stablehlo/dialect/Version.h
  stablehlo/dialect/VhloAttrs.td
  stablehlo/dialect/VhloBase.td
  stablehlo/dialect/VhloEnums.td
  stablehlo/dialect/VhloOps.cpp
  stablehlo/dialect/VhloOps.h
  stablehlo/dialect/VhloOps.td
  stablehlo/tests/vhlo_to_version_downgrade_invalid.mlir
  stablehlo/transforms/CMakeLists.txt
  stablehlo/transforms/Passes.td
  stablehlo/transforms/VhloToVersion.cpp
Labels: Compatibility

#793 Various markdown syntax fixes
  docs/bytecode.md
  docs/reference.md
  docs/status.md
  docs/type_inference.md
Labels: Process

#765 Use AnyType and AnyAttr for all types and attributes in VHLO
  stablehlo/dialect/VhloAttrs.td
  stablehlo/dialect/VhloBase.td
  stablehlo/dialect/VhloOps.td
  stablehlo/tests/legalize_stablehlo_to_vhlo.mlir
  stablehlo/transforms/VhloToVersion.cpp
Labels: Compatibility

#783 Move 26 verifiers shape functions to shared target
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/dialect/StablehloOps.h
  stablehlo/dialect/StablehloOps.td
  stablehlo/dialect/TypeInference.cpp
  stablehlo/dialect/TypeInference.h
  stablehlo/tests/ops_stablehlo.mlir
Labels: Verification, Type inference

#794 Add channel_id to AllToAllOp
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/dialect/StablehloOps.td
  stablehlo/dialect/VhloOps.td
  stablehlo/tests/legalize_stablehlo_to_vhlo.mlir
  stablehlo/tests/ops_stablehlo.mlir
  stablehlo/tests/vhlo_to_version_downgrade.mlir
  stablehlo/tests/vhlo_to_version_downgrade_invalid.mlir
  stablehlo/tests/vhlo_to_version_upgrade.mlir
  stablehlo/transforms/MapStablehloToVhlo.h
  stablehlo/transforms/VhloToVersion.cpp
Labels: RFC, Migrate from MHLO

#777 Add tests, increase coverage, cover reifyReturnTypeShapes for ops.
  stablehlo/tests/infer_stablehlo.mlir
Labels: Build

#785 Move shape inference for PartitionIdOp to shared file.
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/dialect/TypeInference.cpp
  stablehlo/dialect/TypeInference.h
Labels: Type inference

#795 More MD syntax fixes, mostly line length
  build_tools/README.md
  docs/bytecode.md
  docs/reference.md
  docs/status.md
  docs/type_inference.md
  rfcs/20220912-compatibility.md
Labels: Process

#815 NFC: Use rank($value) for constraints in spec wherever possible
  docs/spec.md
Labels: Spec

#791 Add spec for GetDimensionSizeOp
  docs/spec.md
  docs/status.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#817 Disable shape functions for ConvolutionOp, DotOp and DotGeneralOp
  docs/status.md
  stablehlo/dialect/AssemblyFormat.cpp
  stablehlo/dialect/AssemblyFormat.h
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/dialect/StablehloOps.td
  stablehlo/dialect/TypeInference.cpp
  stablehlo/dialect/TypeInference.h
  stablehlo/tests/TestUtils.cpp
  stablehlo/tests/infer_stablehlo.mlir
  stablehlo/tests/ops_stablehlo.mlir
  stablehlo/tests/verify_conv.mlir
Labels: Verification, Type inference

#814 Add shell script and GitHub Action to run markdownlint
  build_tools/github_actions/lint_markdown.sh
  build_tools/github_actions/markdownlint.yaml
Labels: Build

#797 Separate VhloTypes into separate tablegen file
  stablehlo/dialect/VhloAttrs.td
  stablehlo/dialect/VhloBase.td
  stablehlo/dialect/VhloEnums.td
  stablehlo/dialect/VhloOps.td
  stablehlo/dialect/VhloTypes.td
Labels: Build

#821 Integrate LLVM at llvm/llvm-project@2916b9918275
  build_tools/llvm_version.txt
Labels: Integrations

#822 Fix some typo in dynamicUpdateSlice
  docs/spec.md
Labels: Spec

#825 Move 13 verifiers shape functions to shared target
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/dialect/StablehloOps.td
  stablehlo/dialect/TypeInference.cpp
  stablehlo/dialect/TypeInference.h
Labels: Verification, Type inference, Migrate to MHLO

#820 Fix MD lint errors for spec.md
  .markdownlint.yaml
  build_tools/github_actions/lint_markdown.sh
  docs/spec.md
Labels: Process

#836 Integrate LLVM at llvm/llvm-project@35762d073910
  build_tools/llvm_version.txt
Labels: Integrations

#840 First step towards turning spec.md into a programming language spec
  docs/spec.md
Labels: Spec

#842 Remove the index of ops from the spec
  docs/spec.md
Labels: Spec

#843 Remove "stablehlo" from "#stablehloadd" links
  docs/spec.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#844 Replace "foo of any supported type" with "foo"
  docs/spec.md
Labels: Spec

#845 Fix MD table spacing
  docs/spec.md
Labels: Spec

#826 Update the spec of AllToAllOp
  docs/spec.md
Labels: Spec

#847 Reduce the boilerplate in specs of numerical ops
  docs/spec.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#839 Add verification for DotOp precision config
  stablehlo/dialect/TypeInference.cpp
  stablehlo/tests/ops_stablehlo.mlir
Labels: Verification, Migrate to MHLO

#852 Move verifyRecvOp and verifyInfeedOp with TokenType
  stablehlo/dialect/Base.h
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/dialect/TypeInference.cpp
  stablehlo/dialect/TypeInference.h
Labels: Verification

#853 Move inferFftOp and verifyRngOp with Enums
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/dialect/TypeInference.cpp
  stablehlo/dialect/TypeInference.h
  stablehlo/tests/ops_stablehlo.mlir
Labels: Verification, Type inference

#854 Integrate LLVM at llvm/llvm-project@9b59207a9850
  build_tools/llvm_version.txt
Labels: Integrations
