Repository openxla/stablehlo, pull requests merged in 2022-10, with the labels that each got.

#153 Add type inference for stablehlo.dot_general
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/dialect/StablehloOps.td
  stablehlo/tests/infer_stablehlo.mlir
  stablehlo/tests/ops_stablehlo.mlir
Labels: Type inference

#239 Switch to using MLIR mnemonics instead of C++ names in status.md
  docs/status.md
Labels: Process

#249 Clean up format and trailing spaces
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#251 Consistently use StableHLO mnemonics in the spec
  docs/spec_draft.md
Labels: Spec

#252 Fix MLIR code examples in the spec
  docs/spec_draft.md
Labels: Spec

#197 Type Inference Proposals.
  docs/type_inference.md
Labels: Type inference

#241 Integrate LLVM at llvm/llvm-project@df7606a066b7
  build_tools/llvm_version.txt
  stablehlo/dialect/CMakeLists.txt
  stablehlo/dialect/StablehloOps.cpp
Labels: Build

#256 Simplify the language in specs of reshape and transpose
  docs/spec_draft.md
Labels: Spec

#207 Add type inference for stablehlo.while
  docs/status.md
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/dialect/StablehloOps.td
  stablehlo/tests/infer_stablehlo.mlir
  stablehlo/tests/ops_stablehlo.mlir
  stablehlo/tests/print_while_invalid.mlir
  stablehlo/tests/verify_while.mlir
Labels: Type inference

#221 Add type inference for stablehlo.sort
  docs/status.md
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/dialect/StablehloOps.td
  stablehlo/tests/infer_stablehlo.mlir
  stablehlo/tests/ops_stablehlo.mlir
Labels: Type inference

#254 Reorder status.md alphabetically
  docs/status.md
Labels: Process

#261 Stop using signed integer types in MLIR examples
  docs/spec_draft.md
Labels: Spec

#260 Add a StableHLO specification checklist
  docs/spec_checklist.md
Labels: Spec

#266 Remove count from status.md column
  docs/status.md
Labels: Process

#265 Fix lit checks with ops having implementation defined precision
  stablehlo/tests/interpret_cosine.mlir
  stablehlo/tests/interpret_sine.mlir
  stablehlo/tests/interpret_tanh.mlir
Labels: Interpreter

#187 Interpreter for MaxOp and MinOp
  docs/spec_draft.md
  docs/status.md
  stablehlo/reference/Element.cpp
  stablehlo/reference/Element.h
  stablehlo/reference/Interpreter.cpp
  stablehlo/reference/Ops.cpp
  stablehlo/reference/Ops.h
  stablehlo/tests/interpret_maximum.mlir
  stablehlo/tests/interpret_minimum.mlir
Labels: Interpreter

#117 Avoid using DenseElementsAttr::getRawData
  docs/interpreter.md
  stablehlo/reference/Ops.cpp
  stablehlo/reference/Tensor.cpp
  stablehlo/reference/Tensor.h
Labels: Interpreter

#148 Fix CMake build
  stablehlo/dialect/CMakeLists.txt
  stablehlo/tools/CMakeLists.txt
Labels: Build

#248 Add spec for ConcatenateOp
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#274 Unconditionally update `description` in op's ODS
  docs/spec_checklist.md
Labels: Spec, Process

#234 Add specification and interpreter for IotaOp
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.td
  stablehlo/reference/Interpreter.cpp
  stablehlo/reference/Ops.cpp
  stablehlo/reference/Ops.h
  stablehlo/tests/interpret_iota.mlir
Labels: Spec, Interpreter

#250 Update ODS links to reference StableHLO spec
  docs/status.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#272 Add `DefaultValuedOptionalAttr` and `use_global_device_ids`
  stablehlo/dialect/StablehloOps.td
  stablehlo/tests/ops_stablehlo.mlir
  stablehlo/tests/print_stablehlo.mlir
Labels: RFC, MHLO

#276 Flip Verification status of abs, add, minimum and maximum
  docs/status.md
Labels: Verification, Type inference

#258 Add spec for ReverseOp
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#269 Move 12 new shape functions to separate target
  stablehlo/dialect/CMakeLists.txt
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/dialect/TypeInference.cpp
  stablehlo/dialect/TypeInference.h
  stablehlo/tests/verify_reduce.mlir
  stablehlo/tests/verify_reduce_window.mlir
Labels: Type inference, MHLO

#279 Integrate LLVM at llvm/llvm-project@b9898e7ed1ce
  build_tools/llvm_version.txt
  stablehlo/dialect/StablehloOps.cpp
Labels: Integrations

#267 Add spec for PadOp
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#281 Clean up format and fix typos
  docs/spec_draft.md
  docs/status.md
Labels: Spec

#290 Anchor evals to result's index space iterator
  docs/interpreter.md
  stablehlo/reference/Ops.cpp
Labels: Interpreter

#288 Update spec of AbsOp to match HLO semantics
  docs/spec_draft.md
  docs/status.md
Labels: Spec

#282 Update CHLO to use prefixed accessors
  stablehlo/dialect/ChloOps.cpp
  stablehlo/dialect/ChloOps.td
Labels: Build

#294 Fix clang tidy name mismatches
  stablehlo/dialect/Base.cpp
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/dialect/TypeInference.cpp
Labels: Process

#291 Add formal notation for PadOp
  docs/spec_draft.md
Labels: Spec

#292 Handle bounds in the Transpose op shape function
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/tests/infer_stablehlo.mlir
Labels: Type inference

#264 update spec of add, maximum, and minimum w.r.t supporting bool type
  docs/spec_draft.md
  docs/status.md
Labels: Spec

#286 Add interpreter and tests for bitwise ops
  docs/status.md
  stablehlo/reference/Element.cpp
  stablehlo/reference/Element.h
  stablehlo/reference/Index.h
  stablehlo/reference/Interpreter.cpp
  stablehlo/reference/Ops.cpp
  stablehlo/reference/Ops.h
  stablehlo/reference/Tensor.cpp
  stablehlo/reference/Types.cpp
  stablehlo/reference/Types.h
  stablehlo/tests/interpret_and.mlir
  stablehlo/tests/interpret_not.mlir
  stablehlo/tests/interpret_or.mlir
  stablehlo/tests/interpret_xor.mlir
Labels: Interpreter

#309 Integrate LLVM at llvm/llvm-project@d9404d6d012f
  build_tools/llvm_version.txt
Labels: Integrations

#287 Update interpreter of add, maximum, and minimum w.r.t supporting bool type
  docs/status.md
  stablehlo/reference/Element.cpp
  stablehlo/tests/interpret_add.mlir
  stablehlo/tests/interpret_maximum.mlir
  stablehlo/tests/interpret_minimum.mlir
Labels: Interpreter

#240 Add specification and interpreter for MulOp
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.td
  stablehlo/reference/Element.cpp
  stablehlo/reference/Element.h
  stablehlo/reference/Interpreter.cpp
  stablehlo/reference/Ops.cpp
  stablehlo/reference/Ops.h
  stablehlo/tests/interpret_multiply.mlir
Labels: Spec, Interpreter

#314 Rename "array of type si64" to "tensor constant of type si64"
  docs/spec_draft.md
Labels: Spec

#313 Rename Operands/Results to Inputs/Outputs
  docs/spec_draft.md
Labels: Spec

#284 Add spec for BroadcastInDimOp
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/dialect/StablehloOps.td
  stablehlo/tests/ops_stablehlo.mlir
Labels: Spec, Verification

#315 Delete redundant calls of isCompatibleReturnTypes
  stablehlo/dialect/StablehloOps.td
Labels: Type inference

#304 Update inference test to use stablehlo dialect instead of mhlo
  stablehlo/tests/infer_stablehlo.mlir
Labels: Type inference

#280 Add spec for SliceOp
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#318 Consistent spacing between attributes types and names
  stablehlo/dialect/StablehloOps.td
Labels: Process

#319 Fix markdown table format
  docs/spec_draft.md
Labels: Spec

#320 Tweak the description of ConcatenateOp::dimension
  docs/spec_draft.md
Labels: Spec

#323 Introduce function types
  docs/spec_draft.md
Labels: Spec

#328 Move SliceOp to shared file before we add bounds to it
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/dialect/TypeInference.cpp
  stablehlo/dialect/TypeInference.h
Labels: Type inference

#317 Refactor spec to have consistent usage of "any supported element types"
  docs/spec_draft.md
Labels: Spec

#232 Refactor error handling code
  stablehlo/reference/Element.cpp
  stablehlo/reference/Errors.h
  stablehlo/reference/Interpreter.cpp
  stablehlo/reference/Tensor.cpp
Labels: Interpreter

#333 Clarify wording for variadic types and fix format
  docs/spec_draft.md
Labels: Spec

#331 Audit status.md and fix mismatches with reality
  docs/status.md
Labels: Verification, Type inference, Process

#338 Remove duplicate code
  stablehlo/reference/Ops.cpp
Labels: Interpreter

#339 Change shape function interface for branch ops
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/dialect/StablehloOps.td
  stablehlo/dialect/TypeInference.cpp
  stablehlo/dialect/TypeInference.h
Labels: Type inference

#332 Refactor pretty printing machinery to separate files (NFC)
  stablehlo/dialect/AssemblyFormat.cpp
  stablehlo/dialect/AssemblyFormat.h
  stablehlo/dialect/Base.cpp
  stablehlo/dialect/Base.h
  stablehlo/dialect/CMakeLists.txt
  stablehlo/dialect/StablehloOps.cpp
Labels: MHLO

#350 Update verification status for PadOp to `yes`
  docs/status.md
Labels: Verification

#341 Minor optimization for inferMostSpecificType
  stablehlo/dialect/Base.h
Labels: Type inference

#325 Add spec for IfOp
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#324 Add spec for CaseOp
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#310 Add spec for SortOp
  .gitignore
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#352 Integrate LLVM at llvm/llvm-project@335f94b
  build_tools/llvm_version.txt
  stablehlo/dialect/ChloOps.td
  stablehlo/dialect/StablehloOps.td
Labels: Integrations

#343 Handle bounds in the Slice op shape function
  stablehlo/dialect/Base.cpp
  stablehlo/dialect/Base.h
  stablehlo/dialect/TypeInference.cpp
  stablehlo/tests/infer_stablehlo.mlir
Labels: Type inference, MHLO

#363 Clarify the semantics of StableHLO's sort operation.
  docs/spec_draft.md
Labels: Spec

#364 Integrate LLVM at llvm/llvm-project@82c820b95cf7
  build_tools/llvm_version.txt
Labels: Integrations

#371 Quick fix reduce and reduce_window tests
  stablehlo/tests/infer_stablehlo.mlir
Labels: Type inference

#378 Refine the inferred bounds of SliceOp
  stablehlo/dialect/Base.cpp
  stablehlo/dialect/TypeInference.cpp
  stablehlo/tests/infer_stablehlo.mlir
  stablehlo/tests/ops_stablehlo.mlir
Labels: Type inference, Dynamism

#386 Integrate LLVM at llvm/llvm-project@0051b6bb7877
  build_tools/llvm_version.txt
Labels: Integrations

#387 Merge verify and shape function of BatchNorm ops
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/dialect/StablehloOps.td
  stablehlo/dialect/TypeInference.cpp
  stablehlo/dialect/TypeInference.h
Labels: Verification, Type inference, MHLO

#375 Handle bounds in the PadOp shape function
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/dialect/StablehloOps.td
  stablehlo/dialect/TypeInference.cpp
  stablehlo/dialect/TypeInference.h
  stablehlo/tests/infer_stablehlo.mlir
Labels: Type inference, Dynamism, MHLO

#390 ODS cleanup and fix typos
  docs/spec_draft.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#373 Pretty print for dimension/permutation attributes
  docs/status.md
  stablehlo/dialect/AssemblyFormat.cpp
  stablehlo/dialect/AssemblyFormat.h
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/dialect/StablehloOps.td
  stablehlo/tests/ops_sparse.mlir
  stablehlo/tests/print_stablehlo.mlir
Labels: Prettyprinting, MHLO

#395 Add code comments for print functions (NFC)
  stablehlo/dialect/AssemblyFormat.cpp
  stablehlo/dialect/AssemblyFormat.h
Labels: Prettyprinting

#392 Remove ReduceOp::build() to sync with MLIR-HLO
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/dialect/StablehloOps.td
Labels: Type inference, MHLO

#393 Integrate LLVM at llvm/llvm-project@12204429f2f9
  build_tools/llvm_version.txt
Labels: Integrations

#397 Fix error handling and add testing for printDenseI64Array
  stablehlo/dialect/AssemblyFormat.cpp
  stablehlo/tests/print_types_invalid.mlir
Labels: Prettyprinting, MHLO

#388 Expose channel_id in CollectivePermuteOp
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/dialect/StablehloOps.td
  stablehlo/tests/ops_stablehlo.mlir
  stablehlo/tests/ops_stablehlo_roundtrip.mlir
Labels: RFC, MHLO

#396 Update SetDimensionSize type inference to recognise constant sizes
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/tests/infer_stablehlo.mlir
Labels: Type inference, MHLO

#344 Add spec for WhileOp
  docs/spec_draft.md
  docs/status.md
  stablehlo/dialect/StablehloOps.td
Labels: Spec

#402 Doc update for splitting the verifiers
  docs/type_inference.md
Labels: Verification

#389 Handle bounds in the ConcatenateOp shape function
  stablehlo/dialect/Base.cpp
  stablehlo/dialect/Base.h
  stablehlo/dialect/TypeInference.cpp
  stablehlo/dialect/TypeInference.h
  stablehlo/tests/infer_stablehlo.mlir
Labels: Type inference, Dynamism, MHLO

#406 Integrate LLVM at llvm/llvm-project@b4db15a94964
  build_tools/llvm_version.txt
Labels: Integrations

#360 Add type inference for stablehlo.convolution
  docs/status.md
  stablehlo/dialect/StablehloAttrs.td
  stablehlo/dialect/StablehloOps.cpp
  stablehlo/dialect/StablehloOps.td
  stablehlo/tests/infer_stablehlo.mlir
  stablehlo/tests/ops_stablehlo.mlir
  stablehlo/tests/verify_conv.mlir
Labels: Type inference, MHLO
